.top-container{
    width: 90vw;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(66, 65, 65);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}