.btn{
    height: 70%;
    width: 5%;
    border: 1px solid black;
    background-color: burlywood;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn:hover{
    background-color: rgb(202, 194, 194);
    border: 1px solid blue;
}