.list-tile{
    height: 15vh;
    width: 100%;
    display: flex;

}

.cont1{
    height:100%;
    width:10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.cont2{
    height:100%;
    width:65%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
}
.cont3{
    height: 100%;
    width:25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list-button{
    cursor: pointer;
    width:15px;
    height:15px;
    border-radius: 15px;
    border: 1px solid black;
    margin-top: 5px;
    margin-right: 5px;
}

.list-button:hover{
    background-color: cornflowerblue;
}


.issue-title{
    width: 100%;
    height: 40%;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 700;
}
.issue-comment{
    width: 100%;
    height: 20%;
    text-align: justify;
    font-size: 0.8rem;
    font-weight: 300;
}
.info-box1{
    width:20%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-box2{
    background-image: url("../images/comment.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    width:25%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.info-box3{
    width:20%;
    display: flex;
    height:50%;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}