.left-title-cont{
    width:50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.top-count-cont{
    width: 25%;
    height: 80%;
    display: flex;
}

.num-count{
    width:50%;
    height: 80%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.indicator{
    width: 50%;
    height: 80%;
    text-align: justify;
    padding-left: 5px;
    display: flex;
    align-items: center;
}
